Flask==2.3.2  # Downgraded for better compatibility
Flask-Cors==4.0.0
opencv-python-headless==4.8.0.76  # Newer version with Python 3.12 support
pytesseract==0.3.13
numpy==2.0.0  # Version compatible with Python 3.12
mecab-python3==1.0.10
python-magic==0.4.27  # Changed from python-magic-bin
Werkzeug==2.3.7  # Matching Flask 2.3.2
gunicorn==21.2.0
unidic-lite==1.0.8
requests==2.31.0
